@model IEnumerable<MAM_Sales_Tax.ViewModels.BasketItem>

@{
    ViewData["Title"] = "WithTax";
}
<div class="row mx-2">
    <div class="col">
        <h1>Basket with Tax</h1>


        <div class="float-end fw-bold">
            <p>
                Total: £@ViewBag.TotalPrice
            </p>
            <p>
                Tax: £@ViewBag.TotalTax
            </p>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductId) 
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price) (£)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tax) (£)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PricePlusTax) (£)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tax)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PricePlusTax)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>